<!DOCTYPE html>
<html ng-app="listaTele">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefônica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/alert.css">
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="lib/angular/angular-locale-ptbr.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/contatosService.js"></script>
	<script type="text/javascript" src="js/operadorasService.js"></script>
	<script type="text/javascript" src="js/configValue.js"></script>
	<script type="text/javascript" src="js/serialGeneratorService.js"></script>
	<script type="text/javascript" src="js/serialGeneratorConfig.js"></script>
	<script type="text/javascript" src="js/nameFilter.js"></script>
	<script type="text/javascript" src="js/limitFilter.js"></script>
	<script type="text/javascript" src="js/uiAlertDirective.js"></script>
	<script type="text/javascript" src="js/uiDateDirective.js"></script>
	<script type="text/javascript" src="js/uiAccordionDirective.js"></script>
</head>


<body ng-Controller="listaCtrl">
	<div class="jumbotron">

		<div class="organiza">
		<h4>{{app}}</h4>
		<acordions>
		<acordion title="Accordion 1">
			Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
		</acordion>

		<acordion title="Accordion 2">
			Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
		</acordion>
		</acordions>
		<hr/>

		<msg title="Ops, deu um erro!">
			{{message}}
		</msg>
		
		<input type="text" class="form-control" ng-model="buscarNome" placeholder="O que deseja consultar?">
		<table ng-show="contatos.length > 0" class="table">
			<tr>
				<th></th>
				<th>Serial</th>
				<th><a href="#" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="#" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th><a href="#" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
				<th><a href="#" ng-click="ordenarPor('data')">Data</a></th>
				<th></th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:buscarNome | orderBy:criterioOrdenacao:direcaoOrdenacao"> <!-- Ordem decrescente-->
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.serial}}</td>
				<td>{{contato.nome | name | limite:13}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy'}}</td>
				<td><div style="width:20px;height:20px;" ng-style="{'background-color':contato.cor}"></div></td>
			</tr>
		</table>

		<input class="form-control" ng-model="contato.nome" placeholder="Nome" />
		<input class="form-control" ng-model="contato.telefone" placeholder="Telefone" />
		<input mascaradata class="form-control" ng-model="contato.data" placeholder="Data" id="data" />
		
		<!-- Fazendo o select da operadora  -->
		<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' )' for operadora in operadoras | orderBy:'nome'">
			<option value="">Selecione uma operadora</option>
		</select><br/>

		<button class="btn btn-info btn-block" ng-click="adicionarContatos(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contatos</button>
		<button class="btn btn-success btn-block" ng-click="apagarContatos(contatos)" ng-show="mandar(contatos)">Apagar Contatos</button>
		<br/>{{10 | number:2}}
		</div>

		<!-- FAZENDO RODAPÉ -->
		<div ng-include="'rodape.html'"></div>

	</div>

	<!-- Usando limit to
		tenho o nome Pedro.
		com limitTo: 3
		ficará Ped;-->

</body>
</html>