<!DOCTYPE html>
<html ng-app="listaTele">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefônica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>


<body ng-Controller="listaCtrl">
	<div class="jumbotron">
		<div class="organiza">
		<h4>{{app}}</h4>
		<table ng-show="contatos.length > 0" class="table">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
				<th></th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td><div style="width:20px;height:20px;" ng-style="{'background-color':contato.cor}"></div></td>
			</tr>
		</table>

		{{contato}}
		<input class="form-control" ng-model="contato.nome" placeholder="Nome" />
		<input class="form-control" ng-model="contato.telefone" placeholder="Telefone" />
		
		<!-- Fazendo o select da operadora  -->
		<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
			<option value="">Selecione uma operadora</option>
		</select>

		<button class="btn btn-info btn-block" ng-click="adicionarContatos(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contatos</button>
		<button class="btn btn-success btn-block" ng-click="apagarContatos(contatos)" ng-show="mandar(contatos)">Apagar Contatos</button>
		
		</div>
	</div>

	<!-- FAZENDO RODAPÉ -->
	<div ng-include="'rodape.html'"></div>

</body>
</html>